<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title><span translate>Age</span></ion-title>
  </ion-navbar>
</ion-header>
<ion-content >
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
      <div style="text-align:center;" *ngIf="showresults">
          
        <div *ngIf="approved">
              <span style="text-align:center;color: #459492;font-weight: bold;font-size: 2em">Good to Go!</span>
        </div>
        <div *ngIf="approved == false">
            <span style="text-align:center;color: red;font-weight: bold;font-size: 2em">Oops Verification Failed</span>
      </div>
      </div>
      <br/>
      <br/>
      <div *ngIf="showresults" style="text-align:center;color: #606bb9;font-weight: bold;"> Next Bloom ID Holder </div>  

      <div *ngIf="showbutton == false && showresults == false">
          <span style="text-align:center; color: #459492;font-weight: bold;font-size: 1em">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Ask Bloom ID holder to scan QR code</span>
    </div>
    <br/>
    <br/>
    <br/>
      <div style="text-align:center;" *ngIf="showqr" id="QR-Container">

        </div>
        
      <div style="align-self: center">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        
        <button  style="background-color: #ffffff;" *ngIf="showbutton"  class="button" (click)="generateQRCode()">
              <img height="300px" width="188px" src="assets/stemid-me-btn.png">
        </button>
      </div>


      <!--<button *ngIf="showbutton" class='button button-large-wp' ion-button  (click)="generateQRCode()"><h1  style="text-align:center;color:#ffffff">Start</h1></button>-->

</ion-content>
