.logo {
  width: 150px;
  margin: 0 auto;
}

q {
  font-style: italic;
  quotes: "« " " »";
}
.vertical-align-content > *
{
     display: flex!important;
     align-content: center!important;
     align-items: center!important;
}